__*
*.log
/cbwork_bin.ini
/bm/bm2p5a.bat
/bm/bm2nor.bat
/catalog/juandata
/catalog/juandata_2014
/catalog/juandata_p4
/cbreader/cutxml/cutxml.bat
/cbreader/index/wordindex.ndx
/cbreader/index/buildlist.txt
/cbreader/index/main.ndx
/cbreader2X/bulei/bulei.txt
/cbreader2X/nav/book_nav.xhtml
/cbreader2X/nav/book_nav.txt
/cbreader2X/toc/toc
/cbreader2X/toc/toc_gaiji
/common/connect.bat
/common/b5-u8.bat
/common/u8-b5.bat
/epub/epubcheck-1.0.5
/epub/epubcheck-3.0.1
/epub/make_cover/cover_update*
/epub/參考資料
/note/*.txt
/note/*/*.xml
/note/note2xml.bat
/note/note_into_p5a.bat
/p5/b5-u8.bat
/p5/get_mulu.bat
/p5/juan.bat
/p5/p4top5a.bat
/p5/p5a2p5.bat
/p5/p5totxt.bat
/p5/u8-b5.bat
/p5/valid_vol.bat
/p5/tree/*.txt
/pushsign/tmp
/pushsign_bm/tmp
/xml2epub/xml2epub.bat
